{# src/Ipc/ProgBundle/Resources/views/Prog/enTete.html.twig #}
<div id='texteAnalyse' class='grandScreen'>{{ 'label.titre.principal'|trans }}</div>{% if titre_de_la_page is defined %}<div>{{ titre_de_la_page }}</div>{% endif %}
