{# src/Ipc/ProgBundle/Resources/views/Prog/logout.html.twig #}
{% extends "::loginLayout.html.twig" %}

{% block title %}Logout{% endblock title %}

{% block body %}
<div id='logout_content'>
	Déconnexions ...
</div>
{% endblock %}

{% block javascript %}
<script type='text/javascript'>
	var pathUrl	= {{ app.request.uri|json_encode|raw }};
	// Vérification de l'url pour savoir si la déconnexion doit être locale ou distante (en cas d'accès VPN)
	var myRegExp = /^https*?:\/\/192\.168/;
	if (myRegExp.test(pathUrl)) {
		window.location.href="/";
	} else {
		var url_redirection = "http://" + "{{ service_configuration.getSiteParent }}" + '.fr';
		window.location.href = url_redirection;
	}
</script>
{% endblock javascript %}
