@charset "utf-8";
/* CSS Document */

/* Fix IE Old brother */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -  DECLARATIONS  - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
html							{font-size:100%;}
body 							{margin:0; width:100%; min-width:320px; height:100%; color:#4B4B4B; text-align:justify; font-size:.95em; height:80%; position:absolute; box-sizing:border-box;
								font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;}
body a 							{color:#4B4B4B; text-decoration:none;}
body li 						{list-style:none;}
		
.pageCachee              		{display:none !important;}
.waiting          				{display:flex !important; justify-content:center; flex-direction:column; cursor:wait;position:fixed;z-index:999;height:100%;width:100%;background-color:rgba(0,0,0,0.0);}
.waitingHighchart               {display:flex !important; justify-content:center; flex-direction:column; cursor:wait;position:fixed;z-index:999;height:100%;width:100%;background-color:rgba(0,0,0,0.0);}
div#allPage						{display:flex; justify-content:center; flex-direction:column; cursor:wait;position:fixed;z-index:999;height:100%;width:100%;background-color:rgba(0,0,0,0.0);}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HEADER - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/

header  						{padding:15px 10% 0 10%; border-bottom:#454545 solid 1px; color:#FFF; 
						 		background: rgb(37,43,51); /* Old browsers */
						 		background: -moz-linear-gradient(top,  rgb(37,43,51) 0%, rgb(0,0,0) 100%); /* FF3.6+ */
						 		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(37,43,51)), color-stop(100%,rgb(0,0,0))); /* Chrome,Safari4+ */
						 		background: -webkit-linear-gradient(top,  rgb(37,43,51) 0%,rgb(0,0,0) 100%); /* Chrome10+,Safari5.1+ */
						 		background: -o-linear-gradient(top,  rgb(37,43,51) 0%,rgb(0,0,0) 100%); /* Opera 11.10+ */
						 		background: -ms-linear-gradient(top,  rgb(37,43,51) 0%,rgb(0,0,0) 100%); /* IE10+ */
						 		background: linear-gradient(to bottom,  rgb(37,43,51) 0%,rgb(0,0,0) 100%); /* W3C */
						 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252b33', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
			 
.headflex 						{display:flex; align-items: flex-start;}
.headflex a 					{color:#FFF;}

/*Logo-IBC*/
#logo-IBC						{display:flex;}
#logo-IBC .img					{display: block; width:80px; min-width:47px;  text-align: left;}
#logo-IBC .txt					{align-self:flex-start; margin:18px 0 0 8px; font-size:22px; line-height:15pt; font-family:"Myriad Pro", Arial, Helvetica, sans-serif; text-align:left;}
#logo-IBC span					{color:#0a71b4;}

/*Titre de l'affaire*/
.title							{flex-grow:1; align-self:center; padding:5px 10% 8px 0; min-height:80px; font-size:1.5em; text-align:center;}
#description 					{}
#num-affaire 					{display:inline-block;}
#nom-affaire 					{display:inline-block;}


@media screen and (max-width: 500px) 							{ 	.title 			{font-size:1em !important;} }
@media screen and (min-width: 500px) and (max-width: 600px) 	{ 	.title 			{font-size:1.3em !important;} }
@media screen and (max-width: 800px) 							{
/*Logo-IBC*/
#logo-IBC 						{display:inline-block !important; float:left !important; margin:0 5% 3px 0 !important; width:15%; max-width:80px;}
#logo-IBC .img 					{width:100% !important;}
#logo-IBC .txt 					{display:none !important;}

/*Titre de l'affaire*/
.title							{display:inline-block; min-height:0 !important; font-size:1.5em; vertical-align:bottom;}
}
@media screen and (max-width: 1300px) 				{ 	
header 							{padding:0 2px !important;}
.title 							{padding-right:0 !important;}
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - -  HEADER NAV  - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
header nav 						{margin-bottom:5px; font-size:1.1em;}
.menuaccess 					{display:none;}
header nav ul 					{margin:0; padding:0;}
header nav ul li ul				{display:flex; flex-direction:row; flex-wrap:wrap; margin:0; padding:0;}
header nav ul li ul li 			{padding-right:10px;}
header nav ul li ul li+li 		{border-left:1px solid #FFF; padding-left:10px;}
header nav ul li ul li a 		{display:flex; justify-content:center; color:#FFF; fill:#FFF;}
header nav ul li ul li a.active	{color:#0076da !important; fill:#0076da !important;}
header nav ul li ul li a:hover 	{color:#0076da; fill:#0076da;}
header nav .img 				{height:25px; fill:inherit;}
header nav .png					{background-size:contain;}
.svg-header-hover				{fill:inherit;}
header nav .txt 				{padding-left:5px; white-space:nowrap; vertical-align:middle;}
	
@media screen and (max-width: 800px) 						{
.menuaccess 					{display:inline;}
header nav li					{margin-top:5px; font-size:1.2em; }
header nav ul li ul li+li       {border-left:0px solid #FFF; padding-left:0px; }
header nav .menu_site           {display:none;}
header nav .txt					{font-size:0.8em !important;}
#header__icon                   {font-size:1em; }
#description                    {font-size:1.3em; }
}

@media screen and (max-width: 1200px) 	{ 	header nav 		{padding:0 5px !important;} }

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  PAGE  - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
.page 							{position:relative; margin:20px 10% 0 10%;}
@media screen and (max-width: 1300px) 	{ 	.page 			{margin:0 5px !important;} }


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SECTION  - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
section 						{display:flex; flex-direction:column; flex-grow:1; margin-right:400px; margin-bottom:20px;}
@media screen and (max-width: 800px) { section		 			{margin-right: 0 !important;} }

/*Nav*/
section nav 	    		 	{text-align:center; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; font-size:2.1em; font-weight:500;}
section nav a                	{display:inline-block;}
section nav a.inactive       	{color:#8C8C8C; font-size: 0.75em;}
section nav a.inactive:hover 	{color:#4B4B4B;}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - INFORMATIONS GENERALES - - - - - - - - - -  - - - - - - - - - - - - - - -*/
#generalinfo 		    		{background:#000000; color:#FFFFFF; text-align:center; padding: 30px; margin-bottom:10px;}
#generalinfo ul         		{display:flex; flex-flow:row wrap; justify-content:space-around;align-items:stretch; margin:0 0 0 1%; padding: 0; width: 100%;}
#generalinfo ul li      		{display: flex; justify-content: flex-end; flex-flow:row nowrap; flex: 0 0 24%; margin: 0 0 30px 0; padding: 0;}
#generalinfo ul li:nth-last-child(-n+4) {margin-bottom: 0;}

/*Texte*/
#generalinfo .txt       		{display: flex; flex-flow: column nowrap; justify-content:flex-start; flex: 0 0 70%; max-width: 70%; font-family: "myriad pro", Arial, Helvetica, sans-serif; font-size:1em; color:inherit; overflow:show;}
#generalinfo .double			{justify-content: center !important;}
#generalinfo .double>h1 		{margin-top: 0;}
#generalinfo h1         		{margin: 0; text-align: left; font-size: 1.1em; font-weight: normal; margin: 30% 5% 0 5%; color:#FFF;}
#generalinfo p          		{margin: 0; text-align: left; font-size: 2.2em; margin: 0 5%; color: inherit;}
#generalinfo p span     		{font-size: 0.6em; margin-left: 5px;}	
#generalinfo p.small    		{font-size: 1.4em !important; font-weight: normal;}
#generalinfo p+h1				{margin-top: 5px;}
#generalinfo p+p				{margin-top: -10px;}

#generalinfo .generateur.blue p {font-size:1.2em !important;}


/*Images*/
#generalinfo .img       		{margin: 0; width: 29%; border-right: 1px solid white; background-size:cover; background-position:center; background-repeat:no-repeat; background-image:none !important; text-align: right; overflow:hidden; font-size: 2.8em;}

/*Color*/
#generalinfo .blue                                                              {color:#007edf;}
#generalinfo .orange                                                            {color:#FFAA00;}
#generalinfo .red                                                               {color:#d70308;}
#generalinfo .green                                                             {color:#50bd00;}
#generalinfo .bruleur, #generalinfo .combustible                                {color:#FFAA00;}
#generalinfo .niveau, #generalinfo .conductivite, #generalinfo .t-retour        {color:#007edf;}
#generalinfo .pression, #generalinfo .debitvapeur, #generalinfo .t-depart       {color:#d70308;}

/*Media*/
@media screen and (min-width: 1500px) and (max-width: 1700px) 			{ #generalinfo    .txt 	{font-size:1em !important;} }
@media screen and (min-width: 1300px) and (max-width: 1500px) 			{ #generalinfo    .txt  {font-size:1em !important;} }
@media screen and (min-width: 1200px) and (max-width: 1300px) 			{ #generalinfo    .txt  {font-size:1em !important;} }
@media screen and (min-width: 800px) and (max-width: 1200px)            { #generalinfo    .txt  {font-size:1em !important;} }
@media screen and (min-width: 450px) and (max-width: 800px)  			{ #generalinfo    .txt  {font-size:0.8em !important;} }
@media screen and (min-width: 50px) and (max-width: 450px)             	{ #generalinfo    .txt  {font-size:0.6em !important;} }

@media screen and (max-width: 800px)   									{
.validation_live				{margin-top: 10px; }
#live_titre						{margin-top: 30px; }
#generalinfo ul li              {flex: 0 0 50%; margin: 0 0 10px 0 !important;}
#generalinfo ul li:nth-last-child(-n+2) 					    		{margin-bottom: 0 !important;}
}
@media screen and (max-width: 800px) and (orientation:landscape) {
#generalinfo ul li              {flex: 0 0 33%; margin: 0 0 10px 0 !important;}
}

@media screen and (max-width: 800px)   									{ #generalinfo         	{padding: 10px !important;} }




/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  TUILES  - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
#tuiles h1 						{margin:20px 0 6px 0; padding-left:0.5%; border-bottom:#4b4b4b 2px solid; color:#4b4b4b; font-size:2.5em; font-weight:lighter; text-align:left;}

#tuiles ul						{display:flex; flex-flow:row wrap; justify-content:flex-start; margin:0; padding:0;}
#tuiles li						{justify-content:flex-start; margin:6px 0.5%; border:2px solid; height:106px;}
#tuiles ul > li 				{display:flex; flex:1 0 20em;}
#tuiles .img					{padding:13px; width:80px; min-width:80px; font-size: 3.3em; overflow: hidden; text-align: center;}
#tuiles .txt					{display:flex; flex-direction:column; justify-content:space-between; flex-grow:1; padding:0 10px; 
								font-family:"Myriad Pro", Arial, Helvetica, sans-serif; text-align:center;}
#tuiles h2 						{margin:5px 0 0 0; color:#58595b; font-size:1.15em; font-weight:300; max-height:2.50em; max-width: 100%; overflow:hidden; text-align:center; }
#tuiles p						{margin:0 0 5px 0; font-size:2.1em; overflow:hidden; text-align:center;}
#tuiles span					{margin-left:5px; font-size:0.7em; vertical-align:baseline;}

/*Tuiles color*/
#tuiles .general 				{border-color:#0068D0; color:#0068D0;}
#tuiles .bruleur 				{border-color:#FF9900; color:#FF9900;}
#tuiles .chaudiere 				{border-color:#00CC00; color:#00CC00;}
#tuiles .surchauffeur 			{border-color:#A50021; color:#A50021;}
#tuiles .bache  				{border-color:#548DFF; color:#548DFF;}
#tuiles .sbc 					{border-color:#00CC99; color:#00CC99;}
#tuiles .purges 				{border-color:#05666B; color:#05666B;}
#tuiles .fumees 				{border-color:#000000; color:#000000;}
#tuiles .vapeur 				{border-color:#FF0000; color:#FF0000;}
#tuiles .air 					{border-color:#69A73E; color:#69A73E;}
#tuiles .combustible 			{border-color:#6F2E9C; color:#6F2E9C;}
#tuiles .reseau 				{border-color:#CC0099; color:#CC0099;}
#tuiles .eau 					{border-color:#00B0F0; color:#00B0F0;}

/*Tuiles svg color*/
.svg-color 						{fill:#505050;}

/*@media screen and (min-width: 800px) and (max-width: 1000px)			{ 	#tuiles li 			{width: 48% !important;} }*/
@media screen and (max-width: 800px) 						{
#live_listing span				{font-size:1em;}
#tuiles h1						{font-size:1.5em;}
#tuiles ul                      {flex-direction: column;}
#tuiles li                      {margin:0 0 5px 0 !important; border:1px solid !important; padding: 2px; height:auto !important; flex-direction: row;  flex-basis: auto !important;}
#tuiles .img            		{padding:0 !important; font-size:1.5em !important; min-width: 1em !important; height: 40px !important; width:40px !important;}
#tuiles .txt            		{padding:0 !important; text-align:left !important; flex-direction: column !important; justify-content:space-between !important; align-items: center !important;/*white-space:nowrap;*/}
#tuiles h2                      {margin:0px !important; font-size:1.15em !important; font-weight:400 !important;}
#tuiles p                       {margin:0px !important; font-size:1em !important; font-weight:normal !important; flex-shrink: 0;}
}
/*
@media screen and (max-width: 800px)  						{ 	
    #tuiles .img				{width:40px !important;}
}
*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ASIDE  - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - -*/
#null 							{position:absolute; left: 0; right: 0; top:-20px; height: 5px;}
aside 							{position:absolute; top:0; right:0; margin:30px 0 0 0; width: 380px; padding-top:20px;}
aside.fixed             		{position: fixed; top: 0; right: 10%;}
@media screen and (max-width: 1300px)	{   aside.fixed		{right: 5px !important;}}
@media screen and (max-width: 800px)   {
aside            				{position:relative; width:93%; overflow:auto;}
aside nav ul li 				{font-size:1em;}
aside #alarme           		{font-size:1em; height:150px; }
#null           				{position:relative; top:0; height:auto;}
}
/*Nav*/
aside nav 						{display: flex; justify-content:space-between;}
aside nav ul 					{display:flex; margin:0; padding:0 0 0 2%; position:relative; z-index:1;}
aside nav li 					{padding:3px 10px; border:#c1c1c1 1px solid; 
								background: #ffffff; /* Old browsers */
								background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f3 100%); /* FF3.6-15 */
								background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f3 100%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f3',GradientType=0 ); /* IE6-9 */}
aside nav li+li 				{border-left:none;}
aside nav li.active				{border-bottom:#FFF 1px solid; background:#FFF;}
aside nav li:hover				{cursor:pointer;}
aside nav .refresh				{width: 30px; height: 30px; padding: 0; margin: 0; text-align: center;}
#svg-aside-refresh				{fill:#4b4b4b;}
aside .line 					{border-top:1px solid #c1c1c1; position:relative; margin-top:-1px; z-index:0;}

/*Alarme*/
aside #alarme					{border:none; overflow:auto; border-bottom:1px solid #c1c1c1;}
aside #alarme ul				{margin:0; padding:0;}
aside #alarme li				{display:flex; margin:5px 0; padding:0 5px 5px 5px; border-bottom:#c1c1c1 1px solid;}
aside #alarme li:last-child		{margin-bottom: 0; border-bottom: none;}

aside #alarme .message			{display:flex; flex-direction:column; flex-grow:1; margin-left:10px; padding:4px 5px 0 0; font-family:Tahoma, Geneva, sans-serif; line-height:1.1em;}

aside #alarme .calendar 		{align-self:flex-start; padding:3px 3px 0 3px; width:45px; flex:0 0 auto;}
aside #alarme .day 				{padding:3px 0 0 0; background:#FFF; font-size:1.9em; font-family:"Myriad Pro", Arial, Helvetica, sans-serif; text-align:center;} /* Jour */
aside #alarme .month			{padding-top:2%; color:#FFF; font-size:0.7em; font-weight:300; white-space:nowrap; text-align:center;} /* Mois */

/*Calendar color*/
aside #alarme .g1 				{background:#FF0000;}
aside #alarme .g2 				{background:#FFAB08;}
aside #alarme .g3               {background:#86c600;}
aside #alarme .g110             {background:#50bd00;}
aside #alarme .g111 			{}
aside #alarme .g112 			{}
aside #alarme .g113				{}
aside #alarme .g114				{}
aside #alarme .g115				{}
aside #alarme .g116				{}
aside #alarme .g117				{}
aside #alarme .g118				{}
aside #alarme .g119				{}
aside #alarme .g120				{}
aside #alarme .g121				{}
aside #alarme .g122				{}
aside #alarme .g123				{}
aside #alarme .g124				{}
aside #alarme .g125				{}
aside #alarme .g126				{}
aside #alarme .g127				{}
aside #alarme .g128				{}
aside #alarme .g129				{}
aside #alarme .g130				{}
aside #alarme .g131				{}
aside #alarme .g132				{}
aside #alarme .g133				{}
aside #alarme .g134				{}
aside #alarme .g135				{}
aside #alarme .g136				{}
aside #alarme .g137				{}
aside #alarme .g138				{}
aside #alarme .g139				{}
	

aside #alarme time 				{font-size:0.8em; text-align:right;} /* Horodatage */
aside #alarme h1 				{margin:0; padding:0; font-size:1.2em; font-weight:400; font-family:"Myriad Pro", Arial, Helvetica, sans-serif;} /* Famille du message */
aside #alarme p 				{margin:0; padding:0; font-size:0.9em; line-height:1.3em;} /* Désignation */ 

aside .hour						{display:table-cell; font-size:9px; font-family:Tahoma, Geneva, sans-serif; text-align:center;}
aside .calendar2 				{padding:3px 3px 0 3px; width:50px; background:#F00;}
aside .calendar2 .day			{padding:3px 0 0 0; background:#FFF; font-size:30px; font-family:Tahoma, Geneva, sans-serif; text-align:center;}
aside .calendar2 .month			{padding-top:4px; font-size:15px; color:#FFF; font-family:"Myriad Pro", Arial, Helvetica, sans-serif; text-align:center;}
aside #alarme .contenu			{display:table-cell; padding:14px 5px 0 10px; font-size:14px; font-family:Tahoma, Geneva, sans-serif; vertical-align:top;}

.cacher                         {display:none;}
#live_titre div                 {display:inline-block;width:100%;text-align:center;font-size:14px;overflow:auto;}
#supervision_info2_graphique    {margin-left:17px; margin-bottom:10px;}
#allAside						{margin-top:10px;}
#live_options_graphiques span 	{border:1px solid gray; background-color:#F2F2F2; font-size:12px; margin-left:20px; border-radius:1px; padding:1px 5px 1px 5px; }
#live_options_graphiques		{margin-bottom:5px;}
#enTeteSection                  {margin-bottom:20px;}
#seriesGraphiques               {text-align:center;}
#seriesGraphiques select        {width:80%;text-align:center;font-size:1.2em;height:30px;}
#container_live                 {height:100%;}
#hideChart						{position:absolute;background-color:white;z-index:995;}




@media screen and (max-width: 800px) {
#container_live       			{width:93%;}
.site-container 				{overflow: hidden; }
.site-pusher 					{transition-duration: 0.3s; transform: translateX(0px); }
.with--sidebar .site-pusher 	{transform: translateX(200px); }
}

.header__icon 					{color: #007edf;}
.menu_mobile 					{position:absolute; left:0; top:0; bottom:0; padding-top:130px; overflow-y:scroll; -webkit-overflow-scrolling:touch; background-color:black; width:200px; transform:translateX(-200px); }
.menu_mobile ul li              {width:180px; padding-left:0;}
.menu_mobile ul li a            {display:inline-block;}
.menu_mobile ul li a div.img    {display:inline-block;}
.menu_mobile ul li a div.txt    {display:inline-block;}

#choix-langue                 	{float:left; padding-left:5px; padding-top:3px;}
.iconeFrancais                  {display:inline-block; height:19px; width:23px; background-image:url(../images/multilingue.png); background-position:0px 0px; margin-right:5px;}
.iconeAnglais                   {display:inline-block; height:19px; width:23px; background-image:url(../images/multilingue.png); background-position:-30px 0px; margin-right:5px;}
.iconeEspagnol                  {display:inline-block; height:19px; width:23px; background-image:url(../images/multilingue.png); background-position:-60px 0px; margin-right:5px;}
.iconeAllemand                  {display:inline-block; height:19px; width:23px; background-image:url(../images/multilingue.png); background-position:-90px 0px; margin-right:5px;}


div.loader						{margin:auto; display:block; position:fixed; vertical-align:middle; text-align:center; width:100%; z-index:800;}
span#lastEvenement				{font-size:12px;}
div#searchModbus               	{font-size:12px; color:red; text-decoration:underline red; position:absolute; top:0;}
#ping							{position:absolute; right:5px;}
.serveurActif					{color:green;}
.serveurInactif					{color:red;}
.btnBeforeAside					{background:#292929; border-radius:28px; font-family:"Myriad Pro",Arial,Helvetica,sans-serif; color:#ffffff; font-size:18px; padding:10px 20px 10px 20px; text-decoration:none;}
.btnBeforeAside:hover			{background:#A4A4A4; text-decoration:none; cursor:pointer;}

#lien_live      				{font-size:10px; font-style:italic;}

