{# src/Ipc/ProgBundle/Resources/views/Prog/mailing.html.twig #}
<!DOCTYPE html>
<html>
<head>
</head>

<body>
<br/>
IMAGE GRAPHIQUE
<img src="{{ asset('testGraph.php') }}" alt='IPC' align='right' />
<br />
</body>
</html>

